{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'search_flights' %}" class="btn btn-primary">Search Flights</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>Welcome the MyFlightApp. Please Log In to continue.</p>
  <a href="{% url 'login' %}">Log In</a> &nbsp&nbsp&nbsp&nbsp
  <a href="{% url 'signup' %}" class="btn btn-primary btn-lg">Signup</a>
{% endif %} <br>

{% endblock %}